.tabs {
  display: flex;
  justify-content: center;
  background: #252526;
  padding: 8px;
}
.tab {
  background: #2d2d2d;
  color: #ccc;
  border: none;
  margin: 0 8px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}
.tab.active {
  background: #007acc;
  color: white;
  font-weight: bold;
}
.tab:hover {
  background: #3a3d41;
}
